html {
  --main-color: #333;
  --button-color: rgb(108, 50, 27);
  color: var(--main-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}

body {
  background-color: rgb(237, 237, 237);
}

main {
  margin-top: 10px;
}

.card {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #959595;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

code {
  color: rgb(9, 9, 9);
  background-color: #c5c5c5;
}

h2 a {
  color: #000;
}

h2 {
  margin-bottom: 10px;
}

.date {
  display: block;
  color: #4d4d4d;
  margin-bottom: 25px;
  font-style: italic;
}

header a {
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

header a:link,
header a:active,
header a:visited {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
}

header a:focus,
header a:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

main a button {
  display: inline-block;
  color: inherit;
  border: inherit;
  background-color: inherit;
}

a.tag {
  display: inline-block;
  padding: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

nav.main-nav ul {
  list-style-type: none;
  column-gap: 10px;
  display: flex;
  padding-left: 0;
}

nav.main-nav li a,
nav.main-nav li span.disabled {
  border-radius: 5px;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}

nav.main-nav li a {
  color: #000;
  background-color: #f3f3f3;
  border: 1px solid #b8b8b8;
}

nav.main-nav li span.disabled {
  color: #a4a4a4;
  background-color: #c7c7c7;
}

nav.main-nav li a[aria-current] {
  font-weight: bold;
}
