---
layout: layout.html
pagination:
  data: collections.post
  size: 10
  alias: posts
---

<nav class="page-nav" aria-labelledby="pagination">
  <ul>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&#10094;</a>{% else %}<span class="disabled">&#10094;</span>{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>
            &#128462; Page {{ forloop.index }}
          </a>
        </li>
      {%- endfor %}
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">&#10095;</a>{% else %}<span class="disabled">&#10095;</span>{% endif %}</li>
  </ul>
</nav>

<div class="cards">
  {% for post in posts %}
  <article class="card">
    {% if post.data.ranking != undefined %}
      <sl-rating label="Rating" readonly value="{{post.data.ranking}}"></sl-rating>
    {% endif %}
    <div class="post-tags">
      {% for tag in post.data.tags %}
        <sl-badge variant="neutral">
          <a href="/tags/{{tag}}">
            {{tag}}
          </a>
        </sl-badge>
      {% endfor %}
    </div>
    <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
    <span class="date">{{ post.date | date: "%a %d. %B %Y | %Y-%m-%d" }}</span>
    <p>{{post.content}}</p>
  </article>
  {% endfor %}
</div>

<nav class="page-nav" aria-labelledby="pagination">
  <ul>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&#10094;</a>{% else %}<span class="disabled">&#10094;</span>{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>
            &#128462; Page {{ forloop.index }}
          </a>
        </li>
      {%- endfor %}
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">&#10095;</a>{% else %}<span class="disabled">&#10095;</span>{% endif %}</li>
  </ul>
</nav>
