---
layout: layout.html
pagination:
  data: collections.post
  size: 10
  alias: posts
---

<a href="1">First page</a>
<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ol>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>Page {{ forloop.index }}</a></li>
{%- endfor %}
  </ol>
</nav>
<div class="cards">
  {% for post in posts reversed %}
  <article class="card">
    <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
    <span class="date">{{post.date}}</span>
    <p>{{post.content}}</p>
  </article>
  {% endfor %}
</div>
