<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Useful snippets | {{title}}</title>
    <link rel="stylesheet" href="../bundle.css" />
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>{{ title | default: "Useful snippets"}}</h1>
      <nav class="main-nav">
        <a href="/index">Cards view</a>
        <a href="/listview">List view</a>
      </nav>
      <nav class="tag-nav" aria-labelledby="tag">
        <ul>
          {% for tag in collections.tagList %}
          <li>
            <a href="/tags/{{ tag }}" class="tag"> # {{ tag }} </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>{{ content }}</main>
  </body>
</html>
