---
layout: search.html
---
<header>
    <div class="top-bar">
      <nav class="main-nav">
        <a href="/index">List</a>
        <a href="https://app.cloudcannon.com/63206/editor#sites/149703/collections/posts">Admin</a>
      </nav>
    </div>
  </header>
<main>
  {{ content }}
</main>
<footer>
  <nav class="tag-nav" aria-labelledby="tag">
    <ul>
      {% for tag in collections.tagList %}
      <li>
        <a href="/tags/{{ tag }}" class="tag"> # {{ tag }} </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>
