---
layout: layout.html
---

<div class="post-details">
  <ul>
    <li><b>File:</b> {{page.fileSlug}}.md</li>
    <li>
      <b>Title:</b> {{title}}
    </li>
    {% if ranking != undefined %}
    <li>
      <b>Rating:</b> <sl-rating label="Rating" readonly value="{{ranking}}"></sl-rating>
    </li>
    {% endif %}
    <li>
      <b>Tags:</b>
      <div class="post-tags">
        {% for tag in tags %}
        <sl-badge variant="neutral">
          <a href="/tags/{{tag}}">
            {{tag}}
          </a>
        </sl-badge>
        {% endfor %}
      </div>
    </li>
    <li>
      <b>Date:</b> <span class="date">{{ date | date: "%a %d. %B %Y | %Y-%m-%d" }}</span>
    </li>
    <li>
      <a href="https://app.cloudcannon.com/63206/editor#sites/149703/collections/posts:/edit?collection=posts&path=%2Fposts%2F{{page.fileSlug}}.md&schema=false&editor=content">Edit with CloudCannon</a>
    </li>
    <li>
      <a href="/admin/#/collections/post/entries/{{page.fileSlug}}">Edit with Decap CMS</a>
    </li>
  </ul>
</div>
<article class="card">
  <nav class="main-nav">
    <a href="https://app.cloudcannon.com/63206/editor#sites/149703/collections/posts:/edit?collection=posts&path=%2Fposts%2F{{page.fileSlug}}.md&schema=false&editor=content">Edit</a>
  </nav>
  <h2>{{title}}</h2>
  {{content}}
</article>
