---
layout: htmlWrapper.html
---

<div class="field">
  <label for="searchField">Search</label>
  <sl-input type="search" placeholder="Search..." id="searchField"></sl-input>
</div>
<ol id="searchResults"></ol>
<div id="noResultsFound" style="display: none">
  <p>No results found</p>
</div>
<!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
<script>
  (function (window, document) {
    "use strict";

    const search = (e) => {
      const results = window.searchIndex.search(e.target.value, {
        bool: "OR",
        expand: true,
      });

      const resultsElement = document.getElementById("searchResults");
      const noResultsElement = document.getElementById("noResultsFound");

      resultsElement.innerHTML = "";

      if (results) {
        noResultsElement.style.display = "none";
        results.map((r) => {
          const {id, title, ranking} = r.doc;

          const listItem = document.createElement("li");
          const rankingText =
            ranking !== undefined
              ? `<sl-rating label="Rating" readonly value="${ranking}" inert></sl-rating>`
              : "";
          listItem.innerHTML = `<h3><a href="${id}">${title}</a> ${rankingText}</h3>`;
          resultsElement.appendChild(listItem);
        });
      } else {
        noResultsElement.style.display = "block";
      }
    };

    fetch("/search-index.json").then((response) =>
      response.json().then((rawIndex) => {
        window.searchIndex = elasticlunr.Index.load(rawIndex);
        document
          .getElementById("searchField")
          .addEventListener("input", search);
      })
    );
  })(window, document);
</script>
{{ content }}
